<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Team</h2>
                <br />
            </div>
        </div>

        <div class="row">
            {% for person in site.data.bios.core %}
            <div class="col-sm-4 portfolio-item">
                <div class="caption">
                    <div class="caption-content">
                        <h3>
                          {{ person.name }}
                        </h3>

                        <span>
                          {{ person.description }}
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
